// trying the look of all styles on one line...

@import "variables.scss";

.About {
  h2, h3, span { color: $primaryText; }
  h2 { padding: $padding 0; }
  h3 { margin-top: calc(#{$padding} * 3); margin-bottom: calc(#{$padding} * 2); }
  p { color: $secondaryText; }

  .icons { display: flex; flex-direction: column;
    @include desktop() { flex-direction: row; }
    div { display: flex; margin: 0 calc(#{$padding} * 3); align-items: center;
      @include desktop() { flex-direction: column; }}
    img { width: $aboutIcon; height: $aboutIcon; margin: 0 $padding $padding 0;
      @include desktop() { display: block; }}
    }

  .pink * { color: $darkPink; fill: $darkPink; }
  .green * { color: $green; fill: $green; }

  .rating-list { display: flex; justify-content: center; }
  .signup { background-image: url("../images/background_3.jpg"); background-size: cover; padding: 40px 20px; }
}

.GoodContainer {
  @include desktop() {
    display: flex;
  }
}
.GoodFor {
  padding: calc(#{$padding} * 3) 0;
  border: 1px solid $borderColor;

  .rating {
    width: 150px;
  }
  ul {
    padding: $padding;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-image: url("../images/about/icon_check.svg");
    list-style-position: inside;
  }
  li {
    padding-bottom: $padding;
    color: $secondaryText;
    width: 50%;
  }
}

.Example {
  padding-top: calc(#{$padding} * 2);

  p {
    margin: $padding;
  }
  img {
    width: 100%;
  }
  .content-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include desktop() {
      flex-direction: row;
    }
  }
  .content {
    @include desktop() {
      text-align: left;
      margin: 10px 20px 40px 30px
    }

    p {
    color: #959595;
    font-size: 13px;
    line-height: 20px;
    }
    .uspto {
      width: 60px;
      margin-bottom: 8px;
      @include desktop() {
        margin-left: 12px;
      }
    }
    .fsa {
      width: 84px;
    }
  }
}

.Why {
  background-image: url("../images/background_2.jpg");
  background-position: 50% 60%;
  background-size: cover;
  padding: calc(#{$padding} * 4);

  h3 {
    margin: $padding 0 calc(#{$padding} * 3) 0;
  }
  p {
    font-size: 18px;
    background-color: white;
    padding: calc(#{$padding} * 2);
    line-height: 30px;
    @include desktop() {
      max-width: 715px;
      margin: 0 auto;
      padding: calc(#{$padding} * 3) calc(#{$padding} * 6);
    }
  }
}

.Categories {
  padding: 40px 20px 30px 20px;
  @include desktop() {
    max-width: 750px;
    margin: 0 auto;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(#{$padding} * 3);

    div {
      position: relative;
      width: 50%;
      padding: 5px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      font-family: $serif;
      color: $secondaryText;
      position: absolute;
      top: $padding;
      width: 100%;
    }
  }
}
