// trying the look of all styles on one line...

@import "App.scss";

.About {
  h2, h3, span { color: $primaryText; }
  h2 { padding: $padding 0; }
  h3 { margin-top: calc(#{$padding} * 3); margin-bottom: calc(#{$padding} * 2); }
  p { color: $secondaryText; }

  .icons { display: flex; flex-direction: column;
    @include desktop() { flex-direction: row; }
    div { display: flex; margin: 0 calc(#{$padding} * 3); align-items: center;
      @include desktop() { flex-direction: column; }}
    img { width: $aboutIcon; height: $aboutIcon; margin: 0 $padding $padding 0;
      @include desktop() { display: block; }}
    }

  .pink * { color: $darkPink; fill: $darkPink; }
  .green * { color: $green; fill: $green; }

  .rating-list { display: flex; justify-content: center; }
  .signup { background-image: url("../images/bg_login.png"); background-size: cover; padding: 40px 20px;
    @include desktop() { background-image: url("../images/bg_login_desktop.png"); }
  }
}

.GooodContainer {
  @include desktop() {
    display: flex;
  }
}
.GoodFor {
  padding: calc(#{$padding} * 3) 0;
  border: 1px solid $borderColor;

  .rating {
    width: 150px;
  }
  ul {
    padding: $padding;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-image: url("../images/about/icon_check.svg");
    list-style-position: inside;
  }
  li {
    padding-bottom: $padding;
    color: $secondaryText;
    width: 50%;
  }
}

.Example {
  padding-top: calc(#{$padding} * 2);

  p {
    margin: $padding;
  }
  .versus {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .left {
      display: none;
    }
  }
  .patent {
    color: #959595;
    font-size: 13px;
    line-height: 20px;
  }
}

.Why {
  background-image: url("../images/about/bg_why.png");
  background-size: cover;
  padding: calc(#{$padding} * 4);

  p {
    background-color: white;
    padding: calc(#{$padding} * 2);
    @include desktop() {
      max-width: 715px;
      margin: 0 auto;
      padding: calc(#{$padding} * 2) calc(#{$padding} * 4);
    }
  }
  @include desktop() {
    background-image: url("../images/about/bg_why_desktop.jpg");
    background-position: bottom;
  }
}

.Categories {
  padding: 40px 20px 30px 20px;
  @include desktop() {
    max-width: 750px;
    margin: 0 auto;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      position: relative;
      width: 50%;
      padding: 5px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      font-family: $serif;
      color: $secondaryText;
      position: absolute;
      top: $padding;
      width: 100%;
    }
  }
}
