* { box-sizing: border-box; }
a { color: cornflowerblue; text-decoration: underline; cursor: pointer; }
body { margin: 0; padding: 0; font-family: sans-serif;}

$teal: #3AAAB2;
$borderColor: #CCCCCC;
$lightGrayText: #D8D8D8;
$lightGrayBg: #F1F1F1;
$darkPink: #C62786;
$green: #9DCF67;

$padding: 10px;

$aboutIcon: 53px;

@mixin section() {
  margin: 0 auto;
  background: white;
  border: 1px solid $borderColor;
  margin: 0 auto;
}

.App {
  background-image: url("../images/bg_mobile.jpg");
  background-repeat: no-repeat;
  padding: calc(#{$padding} * 2) $padding;
  background-size: 100% 100%;
  background-position-y: 61px;
  text-align: center;
  section {
    @include section;
  }
}

h1 {
  color: $teal;
}

h2 {
  font-size: 18px;
}

.Header {
  .logo {
    width: 137px;
  }
}

.Footer {
  height: 120px;
  background-color: $lightGrayBg;
  padding: calc(#{$padding} * 1.5);

  div {
    float: left;
    text-align: left;
    font-size: 12px;

    p, a {
      color: $lightGrayText;
      text-decoration: none;
    }
  }
  .logo {
    width: 80px;
  }
  .social {
    float: right;
    width: 27px;
    margin-left: $padding;
  }
}

.About {
  .icons {
    display: flex;
    flex-direction: column;
  }
  .icons div {
    display: flex;
    margin: 0 calc(#{$padding} * 3);
  }
  .icons img {
    width: $aboutIcon;
    height: $aboutIcon;
    margin: 0 $padding $padding 0;
  }
  .icons span {
    line-height: $aboutIcon;
    vertical-align: middle;
  }
  .good {
    padding: calc(#{$padding} * 3) 0;
    margin: 0 $padding;

    .rating {
      width: 150px;
    }
    ul {
      padding: $padding;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      list-style-image: url("../images/about/icon_check.svg");
      list-style-position: inside;
    }
    li {
      padding-bottom: $padding;
      width: 50%;
    }
  }
  .pink {
    color: $darkPink;
  }
  .green * {
    color: $green;
    fill: $green;
  }
  .rating-list {
    display: flex;
    justify-content: center;
  }
}

.Example {
  .versus {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin: 0 calc(#{$padding} * 2);
    }
  }
}
