@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

* { box-sizing: border-box; }
body, h1, h2, h3, p { margin: 0; padding: 0;}

$primaryText: #454545;
$secondaryText: #616575;
$lightGrayText: #D8D8D8;
$formPlaceholder: #A4A4A4;
$iconOff: #C1C1C1;
$borderColor: #CCCCCC;
$lightGrayBg: #F1F1F1;
$teal: #3AAAB2;
$darkPink: #C62786;
$green: #9DCF67;

$padding: 12px;
$aboutIcon: 53px;
$serif: 'PT Serif', serif;
$sans: 'Montserrat', sans-serif;

@mixin desktop() {
  @media only screen and (min-width: 769px) { @content }
}

.App {
  background-image: url("../images/bg_mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 61px;
  text-align: center;
  section {
    background: white;
    border: 1px solid $borderColor;
    margin: $padding;
    padding: $padding;
    @include desktop() {
      max-width: 715px;
      margin: $padding auto;
    }
  }
  @include desktop() {
    background-image: url("../images/bg_desktop.jpg");
  }
}

h1 {
  color: $primaryText;
  font-family: $serif;
}

h2 {
  color: $primaryText;
  font-size: 18px;
  font-family: $serif;
}
h3 {
  font-size: 16px;
  font-family: $serif;
}
hr {
  margin: calc(#{$padding} * 2);
  color: $lightGrayText;
}
.Footer {
  height: 120px;
  background-color: $lightGrayBg;
  padding: calc(#{$padding} * 1.5);
  @include desktop() {
    padding: $padding 20%;
  }
  div {
    float: left;
    text-align: left;
    font-size: 12px;

    p, a {
      color: $lightGrayText;
      text-decoration: none;
    }
  }
  .logo {
    width: 80px;
  }
  .social {
    float: right;
    width: 27px;
    margin-left: $padding;
  }
}
