* { box-sizing: border-box; }
a { color: cornflowerblue; text-decoration: underline; cursor: pointer; }
body { margin: 0; padding: 0; font-family: sans-serif;}

$teal: #3AAAB2;
$borderColor: #CCCCCC;
$lightGrayText: #D8D8D8;

$primaryText: #454545;
$secondaryText: #616575;

$formPlaceholder: #A4A4A4;

$lightGrayBg: #F1F1F1;
$darkPink: #C62786;
$green: #9DCF67;
$iconOff: #C1C1C1;

$padding: 12px;

$aboutIcon: 53px;

$serif: serif;
$sans: sans-serif;

@mixin section() {
  background: white;
  border: 1px solid $borderColor;
  margin: $padding;
  padding: $padding;
}

* {
  margin: 0;
}

.App {
  background-image: url("../images/bg_mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 61px;
  text-align: center;
  section {
    @include section;
  }
}

h1 {
  color: $primaryText;
  font-family: $serif;
}

h2 {
  color: $primaryText;
  font-size: 18px;
  font-family: $serif;
}
h3 {
  font-size: 16px;
  font-family: $serif;
}
hr {
  margin: calc(#{$padding} * 2);
  color: $lightGrayText;
}
.Header {
  padding: calc(#{$padding} * 2);

  h1 {
    color: $teal;
    margin-top: calc(#{$padding} * 5);
  }
  h2 {
    margin: calc(#{$padding} * 2)
  }
  h3 {
    font-size: 18px;
    line-height: 26px;
    font-family: $sans;
    color: $secondaryText;
  }
  .logo {
    width: 137px;
  }
}

.Footer {
  height: 120px;
  background-color: $lightGrayBg;
  padding: calc(#{$padding} * 1.5);

  div {
    float: left;
    text-align: left;
    font-size: 12px;

    p, a {
      color: $lightGrayText;
      text-decoration: none;
    }
  }
  .logo {
    width: 80px;
  }
  .social {
    float: right;
    width: 27px;
    margin-left: $padding;
  }
}

.Ratings {
  svg {
    padding: 1px;
  }
  svg path {
    fill: $iconOff;
  }
}
.About {
  h2, h3, span {
    color: $primaryText;
  }
  h2 {
    padding: $padding 0;
  }
  h3 {
    margin-top: calc(#{$padding} * 3);
    margin-bottom: calc(#{$padding} * 2);
  }
  p {
    color: $secondaryText;
  }
  .icons {
    display: flex;
    flex-direction: column;
  }
  .icons div {
    display: flex;
    margin: 0 calc(#{$padding} * 3);
    align-items: center;
  }
  .icons img {
    width: $aboutIcon;
    height: $aboutIcon;
    margin: 0 $padding $padding 0;
  }
  .pink {
    color: $darkPink;
  }
  .green * {
    color: $green;
    fill: $green;
  }
  .rating-list {
    display: flex;
    justify-content: center;
  }
  .signup {
    background-image: url("../images/bg_login.png");
    background-size: cover;
    padding: 40px 20px;
  }
}

.GoodFor {
  padding: calc(#{$padding} * 3) 0;
  border: 1px solid $borderColor;

  .rating {
    width: 150px;
  }
  ul {
    padding: $padding;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-image: url("../images/about/icon_check.svg");
    list-style-position: inside;
  }
  li {
    padding-bottom: $padding;
    color: $secondaryText;
    width: 50%;
  }
}

.Example {
  padding-top: calc(#{$padding} * 2);

  p {
    margin: $padding;
  }
  .versus {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .left {
      display: none;
    }
  }
  .patent {
    color: #959595;
    font-size: 13px;
    line-height: 20px;
  }
}

.Why {
  background-image: url("../images/about/bg_why.png");
  background-size: cover;
  padding: calc(#{$padding} * 4);

  p {
    background-color: white;
    padding: calc(#{$padding} * 2);
  }
}

.Categories {
  padding: 40px 20px 30px 20px;
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      position: relative;
      width: 50%;
      padding: 5px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      font-family: $serif;
      color: $secondaryText;
      position: absolute;
      top: $padding;
      width: 100%;
    }
  }
}
