* { box-sizing: border-box; }
a { color: cornflowerblue; text-decoration: underline; cursor: pointer; }
body { margin: 0; padding: 0; font-family: sans-serif;}

.App {
  text-align: center;
}
.Header {
  padding: 3.5%;
}
.logo {
  width: 42.5%;
}
main {
  background-image: url("../images/bg_mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
