@import "App.scss";

.Header {
  padding: calc(#{$padding} * 2);

  h1 {
    color: $teal;
    margin-top: calc(#{$padding} * 5);
  }
  h2 {
    margin: calc(#{$padding} * 2)
  }
  h3 {
    font-size: 18px;
    line-height: 26px;
    font-family: $sans;
    color: $secondaryText;
  }
  .logo {
    width: 137px;
  }
}
