@import "variables.scss";

.Modal {
  p {
    line-height: 24px !important;
    color: $lightGrayText !important;
    padding-bottom: 20px;
  }
  span {
    position: absolute;
    top: calc(#{$padding}*2);
    right: calc(#{$padding}*2);
    z-index: 100000;
  }
  input {
    margin-bottom: 15px;
  }
  .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1000;
      background-color: rgba(0, 0, 0, .65);
  }

  .content {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10000;
      overflow: auto;
      text-align: center;
      cursor: pointer;
      @include desktop() {
        max-width: 515px;
        margin: auto;
      }
  }

  .content:after {
      vertical-align: middle;
      display: inline-block;
      height: 100%;
      margin-left: -.05em;
      content: '';
  }
}
