@import "variables.scss";

.Registration {
  section {
    padding: 0 !important;
  }
  @include desktop() {
    max-width: 100% !important;
  }

.Form {
  padding: $padding;

  h1 {
    padding: 20px 0 10px 0;
  }
  p {
    color: $lightGrayText;
    line-height: 24px;
    margin: 0 20px;
  }
  input, textarea {
    text-align: left;
    padding: 10px 15px;
  }
  button {
    margin: 10px;
  }
  hr {
    padding: 0;
    margin: 20px 0;
  }
}

  textarea, .file {
    border-radius: 20px !important;
    margin: 5px 0;
  }

  .file {
    border: 2px dotted $formBorder !important;
    position: relative;
    height: 107px;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    [type=file] {
      cursor: inherit;
      display: block;
      filter: alpha(opacity=0);
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  legend {
    text-align: left;
    padding-bottom: 0;
    padding-top: 20px;
    margin-left: -10px;
    font-size: 19px;
  }

  legend + input {
    margin-top: 0px !important;
  }
  label {
    color: $lightGrayText;
    display: block;
    text-align: left;
    padding: 0;
  }
  fieldset {
    float: left;
    clear: both;
    width: 100%;
    margin: 0 0 -1em 0;
    padding: 0 0 1em 0;

     p {
       text-align: left;
       margin: 0 !important;
       line-height: 18px;
     }

    .address {
      display: flex;
      margin: 0;
      padding: 0;
      input {
        font-size: 90%;
      }
      .city {
        width: 45%;
        margin-right: 10px;
      }
      .state {
        width: 30%;
        margin-right: 10px;
      }
      .zip {
        width: 25%;
      }
    }
  }
}

.select {
  margin: 20px auto;;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  max-width: 270px;

  div {
    width: 125px;
    height: 125px;
    margin: 5px !important;
  }

  .new {
    background-color: #D1E5E7;
    border: 2px dashed #3AAAB2;
    display: flex;
    align-items: flex-end;

    p {
      color: #3AAAB2;
    }
  }
  .placeholder {
    border: 1px solid $formBorder;
  }
   .img {
     border: 2px dashed $lightGrayText;
     display: flex;
     align-items: flex-end;

     p { text-align: center; }
   }
}
