.Signup {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    display: block;
  }

  input[type="email"] {
    display: block;
    margin-top: 1em;
  }

  button {
    margin-top: 2em;
  }

  .killme {
    margin-top: 2em;
  }
}
