@import "App.scss";

@mixin formElement() {
  padding: $padding;
  border-radius: 36px;
  margin: calc(#{$padding} / 2) calc(#{$padding} * 2);
}

.Signup {
  h2 {
    font-size: 20px;
    margin: $padding 0;
  }
  form {
    display: flex;
    flex-direction: column;
    * {
      font-size: 16px;
      @include formElement;
    }
  }
  input {
    text-align: center;
    color: $formPlaceholder;
  }
  button {
    background-color: $teal;
    color: white;
  }
}
