.Create {
  form {
    flex-direction: column !important;
    input {
      margin: 10px auto;
      width: 100%;

      &[type="checkbox"] {
        margin-right: 15px;
        margin-left: -10px;
        border-radius: 2px;
        background-color: white;
        width: 20px;
      }
    }
    p, a {
      font-size: 14px;
      letter-spacing: -0.5px;
      line-height: 16px !important;
      text-align: left;
      padding: 0;
    }
    div {
      display: flex;
      align-items: center;
    }
  }
  button {
    width: 80%;
    margin: auto;
  }
}
