@import "App.scss";

@mixin formElement() {
  height: 36px;
  border-radius: 36px;
  margin: calc(#{$padding} / 2) calc(#{$padding} * 2);
}

.Signup {
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    text-align: center;
    @include formElement;
  }
  button {
    background-color: $teal;
    color: white;
    @include formElement;
  }
}
