.App {
  text-align: center; }

.logo {
  width: 150px; }

.App-header {
  height: 150px;
  padding: 20px; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.product-list {
  padding: 3em 0; }

form {
  display: inline-block;
  width: 300px; }
  form label {
    display: block;
    margin-top: 1em; }
  form button {
    margin-top: 1em; }
