.App {
  text-align: center;
}

.logo {
  width: 150px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.product-list {
  padding: 3em 0;
}
