form {
  display: inline-block;
  width: 300px;

  label {
    display: block;
    margin-top: 1em;
  }
  input {
    margin-left: 1em;
  }
  button {
    margin-top: 1em
  }
}

.form-label {
  opacity: 0
}

.form-input {
  opacity: 0
}

.form-submit {
  opacity: 0
}
